<h1>New project</h1>
<%= simple_form_for @project, html: { multipart: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :description,  as: :text %>
  <%= f.input :image, as: :file %>
  <%= f.button :submit %>
<% end %>
